<section class="py-5" *ngIf="Productdata">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{Productdata.img}}" onerror="this.src='https://dummyimage.com/600x700/dee2e6/6c757d.jpg'; this.onerror='';" /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498 </div>
                <h1 class="display-5 fw-bolder">{{Productdata.name}}</h1> 
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$45.00 </span>
                    <span>{{Productdata.price}} Rs</span>
                </div>
                <p class="lead">{{Productdata.decriptions}}</p>
                <div class="fs-9 mb-5">
                    Total Rating <span style="text-decoration: underline; color: blue;">{{Productdata.rating}}/5 </span>
                    <p>Total Review {{Productdata.review}}</p>
                    <p>Shop - {{Productdata.vendor_name}}</p>
                    <p>warenty - {{Productdata.warenty}} Years</p>
                </div>
                <form class="d-flex" [formGroup]="formValue" (ngSubmit)="onSubmit(Productdata.id)">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value=1 style="max-width: 3rem" formControlName="qty" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </form>
                <br>
                <div>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" (click)="deleteprod(Productdata.id)" >
                        <i class="bi-cart-fill me-1"></i>
                        Delete Product
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>